html,
body {
    margin: 0;
    height: 100%;
    background-color: black;
    background-attachment: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: none !important;
}
ul {
    margin: 0;
    height: 100%;
}
.arrow {
    top: 40%;
    position: absolute;
    margin: 0;
    width: 100%;
    color: black;
}
#right {
    float: right;
    height: 100%;
    width: 10%;
    font-size: 500%;
    text-align: right;
}
#left {
    float: left;
    height: 100%;
    width: 10%;
    font-size: 500%;
}
#QR {
    z-index: 1;
    height: 13%;
    width: 10%;
    background-size: 100% 100%;
    background-position: center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1%;
}
#prizeAndDescription {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 35%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.5);
}
#logo {
    z-index: 1;
    height: 30%;
    width: 100%;
    background-size: 100% 100%;
    background-position: center;
    bottom: 0;
    left: 0;
    margin: 0%;
    opacity: 0.5;
}
#description {
    font-size: 1.7em;
    height: 100%;
    font-family: 'Trocchi'
}
.background {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#progressbar {
    width: 20%;
    height: 20;
    margin: auto;
    opacity: 0.5;
}
.nav {
    width: 100%;
    position: absolute;
    bottom: 5%;
    margin: 0;
    text-align: center;
    height: 15%;
}
.circle {
    height: 100%;
    width: 7%;
    text-align: center;
    margin-left: 3%;
    position: relative;
    bottom: 0;
    display: inline-block;
}
.contentCircle {
    border-radius: 50%;
    border-style: solid;
    border-width: thick;
    border-color: black;
    color: #000;
    background: #000;
    position: absolute;
    top: 50%;
}
#mycursor {
    position: absolute;
    top: 0;
    pointer-events: none;
    left: 0;
    cursor: none;
    pointer-events: none;
    width: 10%;
    height: 15%;
    margin-top: -80px;
    margin-left: -50px;
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    z-index: 99999;
    background-size: 100% 100%;
}
