#background {
    height: 100%;
    /* Ubicación de la imagen */
    background-image: url("http://2.bp.blogspot.com/_EZ16vWYvHHg/S-Bl2fuyyWI/AAAAAAAAMKc/DNayYJK8mEo/s1600/www.BancodeImagenesGratuitas.com-Fantasticas-20.jpg");
    /* Nos aseguramos que la imagen de fondo este centrada vertical y
    horizontalmente en todo momento */
    background-position: center center;
    /* La imagen de fondo no se repite */
    background-repeat: no-repeat;
    /* La imagen de fondo está fija en el viewport, de modo que no se mueva cuando
     la altura del contenido supere la altura de la imagen. */
    background-attachment: fixed;
    /* La imagen de fondo se reescala cuando se cambia el ancho de ventana
     del navegador */
    background-size: cover;
    /* Fijamos un color de fondo para que se muestre mientras se está
    cargando la imagen de fondo o si hay problemas para cargarla  */
}
html,
body {
    margin: 0;
    height: 100%;
    cursor: pointer;
    background-color: black;
}
.row-fluid {
    margin: auto;
    padding-top: 2%;
}
img {
    width: 40%;
}
#progressbar {
    width: 20%;
    height: 20;
    margin: auto;
}
#navigator {
    padding-top: 20%;
}


#left {
    transform: rotate(180deg)
}
