html,
body {
    margin: 0;
    height: 100%;
    background-color: black;
    background-attachment: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: none !important;
}
ul {
    margin: 0;
    height: 100%;
}
.arrow {
    top: 33%;
    position: absolute;
    margin: 0;
    font-size: 1500%;
    width: 100%;
    color: black;
}
#right {
    float: right;
}
#QR {
    z-index: 1;
    height: 13%;
    width: 10%;
    background-size: 100% 100%;
    background-position: center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1%;
}
.background {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#progressbar {
    width: 20%;
    height: 20;
    margin: auto;
    opacity: 0.5;
}
.circle {
    width: 5%;
    height: 5%;
    border-radius: 50%;
    font-size: 45px;
    color: #000;
    text-align: center;
    background: #000;
    margin-left: 2%;
    margin-right: 2%;
    border-style: solid;
    border-width: thick;
    border-color: black;
    position: relative;
    bottom: 0;
}
.nav {
    width: 100%;
    position: absolute;
    bottom: 5%;
    text-align: center;
}
#mycursor {
    position: absolute;
    top: 0;
    pointer-events: none;
    left: 0;
    cursor: none;
    pointer-events: none;
    width: 10%;
    height: 15%;
    margin-top: -80px;
    margin-left: -50px;
    /*background: url("http://icons.iconarchive.com/icons/icons8/ios7/256/Hands-Whole-Hand-icon.png") no-repeat;*/
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    z-index: 99999;
    background-size: 100% 100%;
}
